<mat-toolbar color="primary">
    <button *ngIf="IsSignedIn"
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span><a routerLink="dashboardmain">laboratary</a></span>
  <span class="spacer"></span>
  <ul>
      <li>
        <div *ngIf="!IsSignedIn">
          <a mat-button routerLink="sign-in" routerLinkActive="mat-accent">Log in</a>
          <a mat-button routerLink="register-user" routerLinkActive="mat-accent">Sign Up</a>
        </div>
        <div *ngIf="IsSignedIn">
            <a mat-button  routerLinkActive="mat-accent">Additions</a>
            <a mat-button (click)="authService.SignOut()" routerLinkActive="mat-accent">Log out</a>
            <a mat-button routerLink="profile" routerLinkActive="mat-accent">Profile</a>
          </div>
         
      </li>

  </ul>

</mat-toolbar>