<h1 class="mat-display-1">Teachers</h1>
<!-- <mat-tab-group mat-align-tabs="center" class="example-stretched-tabs ">
    <mat-tab label="Aproved"> -->
            <div class="container"  fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
                <ng-container  *ngFor="let teacher of teachers">
                <teacher-cards class="container2" fxFlex="0 1 calc(33.3% - 32px)"  [teacher]="teacher">
                  </teacher-cards>
                </ng-container>
        </div>



    <!-- </mat-tab> -->
    <!-- <mat-tab label="Un Approved">Un Aproved</mat-tab>
  </mat-tab-group> -->