<mat-card class="mat-card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <div class="mat-card-content">
      <!-- <h3 class="mat-display-1">Sign In</h3> -->

      <mat-form-field class="mat-form-field">
        <input
          matInput
          type="text"
          class="formControl"
          [(ngModel)]="username"
          placeholder="Email"
          #userName
          required
        />
        <mat-hint>Please enter your valid email.</mat-hint>
        <mat-error>Invalid or missing email.</mat-error>
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <input
          matInput
          type="password"
          class="formControl"
          [(ngModel)]="password"
          placeholder="Password"
          #userPassword
          required
        />
        <mat-hint>Please enter your password.</mat-hint>
        <mat-error>Missing password.</mat-error>
      </mat-form-field>

      <!-- (click)="authService.SignIn(userName.value, userPassword.value)" -->
      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="onSubmit()">
          Log in
        </button>
      </div>

      <div class="formGroup">
        <span class="mat-h4"><span class="orInner">or</span></span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup" >
        <button type="button" mat-raised-button class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          <img src='../../../assets/images/google.png' id="google-icon"/>
          Log in with Google
        </button>
      </div>

      <div class="forgotPassword">
        <span class="mat-h3" routerLink="/forgot-password" class="alc"
          ><u>Forgot Password</u></span
        >
      </div>
    </div>

    <div class="redirectToLogin">
      <span class="mat-h3" >
        Don't have an account?
      <!-- <button type="button" mat-button> -->
        <span class="redirect" mat-button routerLink="/register-user" class="alc"><u>Sign Up</u></span>
      <!-- </button> -->
    </span>
    </div>
  </mat-card-content>
</mat-card>

<!-- <mat-card class="my-card">
   <mat-card-content>
      <form class="my-form">
         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input  matInput  placeholder="Email" name="email">
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput  placeholder="Password" name="password">
         </mat-form-field>
      </form>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
   </mat-card-actions>
</mat-card> -->
