h1{
    text-align: left;
    margin: 30px;
}

#tablecontainer{
    margin: 30px;
}

mat-header-cell{
     margin-left: 20px; 
    text-align: center;
}

.adddeletebtn{
    min-width: 1%;
}



.newaddbtn{
    margin-left: 45px;
}
.newaddbtn1{
    min-width: 80px;

}

.newaddheader{
    margin-left: 60px;
}

