.container{
    width:100%;
    text-align: center;
}
.mat-elevation-z8{
    margin: 40px;
}
table {
    width: 100%;
  }

.categoryhead{
    margin-left:40px;
}

.presentquantity{
    margin-left:5px;
}
.newaddheader{
    margin-left:80px;
}

.isempty{
    margin-top: 100px
}

.adddeletebtn{
    min-width: 1%;
}


.newaddbtn1{
    min-width: 80px;
}



