<div class="container" fxlayout="column" fxLayoutAlign="center center">
<h1 >Add New Inventory</h1>
</div>
<div >
  <form class="addcartform" fxLayout="row"   #f="ngForm" fxLayoutAlign="center center" fxLayoutGap="50px" (ngSubmit)="onSubmit(f)">
    <mat-form-field class="example-full-width">
      <input ngModel matInput placeholder="Voucher No" required name="voucherNo" #vouInput="ngModel" >
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input ngModel matInput required  #FromInput="ngModel" name="Recfrom" placeholder="Recieved from">
    </mat-form-field>
 

  <mat-form-field  class="example-full-width">
    <input  matInput [matDatepicker]="picker" placeholder="Date" ngModel name="createdate" required>
    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>
</div>

<div id="tablecontainer">
<mat-table #table [dataSource]="listData"  class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="Category">
      <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.item_name}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <!-- <ng-container matColumnDef="Quantity">
      <mat-header-cell *matHeaderCellDef>Add New Quantity </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Quantity}} </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="Addition" >
      <mat-header-cell class="newaddheader" *matHeaderCellDef >Change Quantity</mat-header-cell>
      <mat-cell *matCellDef="let element">
          <!-- <button class="newaddbtn" *ngIf="getQuantity(row.$key) ==0" mat-icon-button  (click)="addto(row)"><mat-icon>add_to_queue</mat-icon></button> -->
          <!-- <div class="quantity" >
              <button class="adddeletebtn2" mat-flat-button (click)="addto(element)">+</button>
              {{element.Quantity}}
            <button class="adddeletebtn2" mat-flat-button (click)="subtractfromcart(element)" >-</button>
        </div> -->

        <!-- <button class="newaddbtn" *ngIf="(element.Quantity==0)" mat-icon-button  (click)="openDialog(element)"><mat-icon>add_to_queue</mat-icon></button> -->
        <div class="quantity" *ngIf="element.Quantity!=0">
            <button class="adddeletebtn" mat-flat-button (click)="addto(element)">+</button>
            <button class="newaddbtn1"   mat-flat-button  (click)="openDialog(element)">   {{element.Quantity}}</button>
          <button class="adddeletebtn" mat-flat-button (click)="subtractfromcart(element)" >-</button>
      </div>
        </mat-cell>
    </ng-container>
  

  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
  </mat-table>
</div>


<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
  <button mat-raised-button color="primary" (click)="onSubmit(f)" [disabled]="f.invalid">Confirm</button>
  <button mat-raised-button (click)="clearvoucart()" color="warn">Cancel</button>
  <button mat-raised-button (click)="test()" color="warn">test</button>
</div>