.container{
    width:100%;
    text-align: center;
}
.mat-elevation-z8{
    margin: 40px;
}
table {
    width: 100%;
  }

  mat-header-row{
      margin-left: 30px;
  }

.isempty{
    margin-top: 100px
}

.adddeletebtn{
    min-width: 1%;
}

.categoryhead{
    margin-left: 40px;  
}

.presentquantity{
    margin-left: 40px;
}

.newaddbtn1{
    min-width: 80px;
}

.newaddheader{
    margin-left: 90px;
}

