<div class="container">

  <mat-expansion-panel  >
  <mat-expansion-panel-header [collapsedHeight]="'70px'">
      <mat-panel-title>
          {{lending.teacherName}}
        </mat-panel-title>

        <mat-panel-description>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">

                <div>Date: {{lending.date}}</div>
                <div>Time: {{lending.time}}</div>
                <div>duration: {{lending.duration}} hours</div>
              <div>Date Resolved: {{lending.dateResolved}}</div>
              <div>Time Resolved: {{lending.timeResolved}}</div>
            </div>


          </mat-panel-description>


  </mat-expansion-panel-header>
  
  <mat-divider></mat-divider>


  <table mat-table  [dataSource]="dataSource"  class="mat-elevation-z0">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Equipment Name </th>
        <td mat-cell *matCellDef="let element"> {{element.item_name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Quantity Taken </th>
        <td mat-cell *matCellDef="let element"> {{element.Quantity}} {{element.measurement}}</td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="returnQuantity">
        <th mat-header-cell *matHeaderCellDef> Quantity Returning</th>
        <td mat-cell *matCellDef="let element ; let i = index" > 
          {{element.ReturnedQuantity}} {{element.measurement}}
     
      </td>
   
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef > Reason for Reduce</th>
        <td mat-cell *matCellDef="let element; let i = index">{{element.Reason}}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  <!-- <mat-action-row >
          <a mat-button color="primary" (click)="submit()" >RESOLVE</a>
          <button mat-button color="warn" >DELETE</button>
  </mat-action-row> -->
  </mat-expansion-panel>

  </div>