:host {
    display: flex;
    justify-content: center;
    margin: -10px;
  }

.mat-card{
    max-width: 500px;
    width: 100%;
    margin: auto;
    text-align:center 
}

form.normal-form{
    margin: 10px;
}

.controles-container{
    align-content: center;
    margin:auto ;
    width :100%;
}

.btn-dialog-close{
    justify-content: center;
    width: 40px;
    height:35px;
    margin-left: 200px;
}

mat-form-field{
    margin:10px
}

