<!-- <mat-toolbar>
  <span>{{service.form.controls['$key'].value?"Modify Glassware":"New Glassware"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabInex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar> -->
<mat-card class="my-card">
  <mat-card-title>{{service.form.controls['$key'].value?"Modify Glassware":"New Glassware"}}

    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabInex="-1">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>

    <form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">

      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input formControlName="item_name" matInput placeholder="Item Name*" required autocomplete="off">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <!-- <mat-form-field>
          <input formControlName="Quantity" type="number" matInput placeholder="Quantity">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field> -->
      </div>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>