<h1 class="mat-display-1">Current Lendings</h1>


<!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
<div class="container">
<div class="container" >
<current-lending-card *ngFor="let lending of lendings | keyvalue" [lending]="lending"></current-lending-card>
</div>
<!-- <mat-accordion multi="true" >
<mat-expansion-panel  >
<mat-expansion-panel-header>
Teacher name
</mat-expansion-panel-header>

<p>content</p>
<mat-action-row >
        <a mat-button color="primary" >RESOLVE</a>
        <button mat-button color="warn" >DELETE</button>
</mat-action-row>
</mat-expansion-panel>
</mat-accordion> -->
</div>
