
<mat-card class="my-card">
    <mat-card-title>Signup</mat-card-title>
<mat-card-content>

    <div class="authBlock">
   

      <mat-form-field class="example-full-width">
        <input matInput type="email" class="formControl"  [(ngModel)]="email" placeholder="Email Address" #userEmail required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput type="password" class="formControl" [(ngModel)]="password" placeholder="Password" #userPwd required>
      </mat-form-field>

      <!-- (click)="authService.SignUp(userEmail.value, userPwd.value)" -->
      <div class="formGroup">
        <button type="button" class="btn btnPrimary"  mat-raised-button color="primary" value="Sign Up" (click)="SubmitSignUp">Sign Up</button>
      </div>

      <div class="formGroup">
        <span class="mat-h4"><span class="orInner">Or</span></span>
      </div>

      <!-- Continue with Google -->
      <!-- <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
      </div> -->

      <!-- Continue with Facebook -->
      <!-- <div class="formGroup">
        <button type="button" class="btn facebookBtn" (click)="authService.FacebookAuth()">
          <i class="fab fa-facebook"></i>
          Continue with Facebook
        </button>
      </div> -->
    </div>

    <div class="redirectToLogin">
      <span class="mat-h3">Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>
